rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /proyectos/{project} {
      allow read, write: if true; // Permitir lectura y escritura general para agilizar trabajo local/tablet
    }
    match /configuracion/{configDoc} {
      allow read, write: if true;
    }
  }
}
